.uparrow {
  cursor: pointer;
  color: #fff;
  font-size: 35px !important;
  z-index: 400;
}

.upc {
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
}
.btn11 {
  outline: none !important;
  border: 0;
  background-color: transparent !important;
}
