.typingline {
  transform: "scaleY(1)";

  transform-origin: center;
  animation: createBox 5s;
}
@keyframes createBox {
  from {
    transform-style: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.mainss {
  padding-bottom: 100px;
}
