body {
  color: #2d2d2f !important;
  overflow-x: hidden;
  background-image: url(../assets/dessd.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  background-color: rgba(255, 249, 249, 0.7);
  min-height: 100vh;
  height: 100%;
}

.after {
  transition: all 0.8s ease-in-out;
  background-color: #f2f3f4 !important;
  color: #2d2d2f !important;
}

.underline {
  background-color: grey;
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
