.uparrow {
  cursor: pointer;
  padding: 5px !important;
  margin: 5px !important;
  color: #fff;
  font-size: 50px !important;
}

.upc {
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 30px;
}
.btn11 {
  outline: none !important;
  border: 0;
  background-color: transparent !important;
}
